extends layout

block content
  h3 Current game assets
  .container
    p Here You can edit Your game assets, push them for publishing, withdraw publishing or even delete You asset.
    table.table
      tr
        th Pic
        th Game asset
        th Publish state
        th Delete
        th Stats
      tbody
        each rows in game
          tr
          td
            img(src="/" + rows.asset_pic, width=64)
          td
            a(href="/editgame?id=" + rows.id)= rows.asset_name
            if (rows.asset_options & 1)
              td
                a(class="btn btn-primary btn-sm" href="/publishgame?id=" + rows.id role="button") Publish
            else
              td
                a(class="btn btn-secondary btn-sm" href="/publishgame?id=" + rows.id, role="button") Unpublish
            td
              a(class="btn btn-warning btn-sm" href="/deletegame?id=" + rows.id role="button") Delete
            td
              a(class="btn btn-warning btn-sm" href="/statsgame?id=" + rows.id role="button") Stats

