extends layout

block content
  h1= title
  img.img-fluid.w-100(src="images/spiceup.jpg")

  h2 We have a proposition for You
  p When You develop a game there are a lot of things to take care of: the game idea, graphics, motion, physics and from where do I get the music, monetization...? Here is where we step in. We provide You a framework to earn some serious Atheios. We make Your game rewarding for people being good at it. How? Hear us out.
  h2 Atheios is our backbone
  p We are facilitating the Atheios blockchain, a blockchain targeted for gaming. We will provide tools to provide leaderboards, game resolution and blockchain access. Let us take an example:
  p Martin found this great game designed by You. He wages 1 Atheios to play the game, after some training he has a good position in the leaderboard. If others join the game play and the competition they will spend Atheios in order to be leading the game. After a certain critera (ie 50 games played, or after a day, or after a week) the “payday” comes: by now lets say 50 Atheios are in the pot. They can be then distributed by a certain rule: first place gets maybe 30%, 2nd place 20% and 3rd place 10%. 10% go to Atheios development funds and 30% would go to You.
  p We think this is where every one will win. So how much will we charge for this?
  p Nothing, nada, nix.
  h2 Interested?
  p Let us tell You how to onboard.

  h2 Which platforms are supported
  p Our intention is to do the development for a couple of platforms, but we will start with CONSTRUCT 3.
  h3 Construct
  img.img-fluid.w-100(src="images/construct.jpg")







