extends layout

block content
  h1 Login
  form(method='POST', action='/login', autocomplete="on")
    #form-group
      label Username:
      input.form-control(name='username',type='text', autocomplete="username")
    #form-group
      label Password:
      input.form-control(name='password',type='password', autocomplete="current-password")
    br
    input.btn.btn-primary(type='submit',value='Submit')
    p
    p Did You forgot Your password or username? No problem: Follow this
      a(href='reset', style='padding-left: 0.375em;')
        | link.

