extends layout

block content
  h1 Login
  form(method='POST', action='/resettedpassword')
    #form-group
      label Reset code:
      input.form-control(name='resetcode',type='text', autofocus)
    #form-group
      label#indicator1 Password:
      input.form-control(name='password',type='password', autocomplete='password', id='pass1' onkeyup='checkPass1(); return false;')
      small#depositHelp.form-text.text-muted Make it a secure one, as this allows You to get access to Your funds and game related assets.
    #form-group
      label#indicator2 Confirm:
      input.form-control(name='password2',type='password', id='pass2', onkeyup='checkPass2(); return false;')
    br
    input.btn.btn-primary(type='submit',value='Submit')

  script(src='/javascripts/passwd.js')

