extends layout

block content
    header.registerhead.d-flex
        .container.align-bottom
            h1.mb-1.text-secondary Game developer portal stats
    .container
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js")
        .container
            p !{tag_body}

