extends layout

block content
  h1 What is new
  p Here You can follow the latest upgrades and improvements to the service

  table.table.table-striped
    thead
      tr
        th(scope='col') Version
        th(scope='col') Date
        th(scope='col') Scope
    tbody
      tr
        th(scope='row') 0.0.9
        td 2020-01-19
        td Added functionality
          ul
            li AccountDetailsRequest/Response implemented
    tbody
      tr
        th(scope='row') 0.0.8
        td 2020-01-11
        td Added functionality
          ul
            li User class extended with nickname and relation class
            li Added User authentication
    tbody
      tr
        th(scope='row') 0.0.7
        td 2020-01-04
        td Added websocket functionality
          ul
            li when the game id is wrong, close socket
            li add load distribution to other server based on IP (allows for geo separation)
    tbody
      tr
        th(scope='row') 0.0.6
        td 2019-12-31
        td Adding publish and delete routines
    tbody
      tr
        th(scope='row') 0.0.5
        td 2019-12-27
        td Cleaned up the reset procedures.
    tbody
      tr
        th(scope='row') 0.0.4
        td 2019-12-26
        td Changed to new numbering. Completed the game registration to a 3 stage process.
    tbody
      tr
        th(scope='row') 0.03
        td 2019-12-25
        td Added user management to reset password and remind on user id. Reviewed layout. Game asset handling not yet fully functional
    tbody
      tr
        th(scope='row') 0.02
        td 2019-12-21
        td Added websocket authentication for clients
    tbody
      tr
        th(scope='row') 0.01
        td 2019-09-01
        td Initial launch
