extends layout

block content
  h1 What is new
  p Here You can follow the latest upgrades and improvements to the service

  table.table.table-striped
    thead
      tr
        th(scope='col') Version
        th(scope='col') Date
        th(scope='col') Scope
    tbody
      tr
        th(scope='row') 0.01
        td 2019-09-01
        td Initial launch
