extends layout

block content
  h1 What is new
  p Here You can follow the latest upgrades and improvements to the service

  table.table.table-striped
    thead
      tr
        th(scope='col') Version
        th(scope='col') Date
        th(scope='col') Scope
    tbody
      tr
        th(scope='row') 0.1.4
        td 2020-04-25
        td Added functionality
          ul
            li User interface improvements
            li Added wage info in game
            li Changed gameurl handling
      tr
        th(scope='row') 0.1.3
        td 2020-04-09
        td Added functionality
          ul
            li Removed websocket handling to own server
            li Bugzille integration
            li Added REST API
      tr
        th(scope='row') 0.1.2
        td 2020-03-29
        td Added functionality
          ul
            li Game resolution improvements and mailing added
            li Added logging
            li Improved and hardened API
            li Aligned with CONSTRUCT 3 plugin 0.1.2
      tr
        th(scope='row') 0.1.1
        td 2020-02-23
        td Added functionality
          ul
            li Added game resolution
            li Improved and hardened API
            li Aligned with CONSTRUCT 3 plugin
      tr
        th(scope='row') 0.1.0
        td 2020-02-16
        td Added functionality
          ul
            li SetWageRequest/Response implemented
            li FinishGameRequest/Response implemented
            li GameLadderRequest/Response implemented
      tr
        th(scope='row') 0.0.9
        td 2020-01-19
        td Added functionality
          ul
            li AccountDetailsRequest/Response implemented
      tr
        th(scope='row') 0.0.8
        td 2020-01-11
        td Added functionality
          ul
            li User class extended with nickname and relation class
            li Added User authentication
      tr
        th(scope='row') 0.0.7
        td 2020-01-04
        td Added websocket functionality
          ul
            li when the game id is wrong, close socket
            li add load distribution to other server based on IP (allows for geo separation)
      tr
        th(scope='row') 0.0.6
        td 2019-12-31
        td Adding publish and delete routines
      tr
        th(scope='row') 0.0.5
        td 2019-12-27
        td Cleaned up the reset procedures.
      tr
        th(scope='row') 0.0.4
        td 2019-12-26
        td Changed to new numbering. Completed the game registration to a 3 stage process.
      tr
        th(scope='row') 0.0.3
        td 2019-12-25
        td Added user management to reset password and remind on user id. Reviewed layout. Game asset handling not yet fully functional
      tr
        th(scope='row') 0.0.2
        td 2019-12-21
        td Added websocket authentication for clients
      tr
        th(scope='row') 0.0.1
        td 2019-09-01
        td Initial launch
